{% extends 'base.html' %}

{% block mainContent %}


<!--create event form with js validation and php script for processing data-->
<title>Register - Juggleology</title>

{{ status }}<!--output json responses generated in views.py-->

<form id="registrationForm" name="frmRegistration" onkeypress="return event.keyCode != 13" method="POST">
{% csrf_token %}
	<h2>Register</h2>
	<p><i>Please create an account to enjoy the full experience!</i></p>
	
	<!--first name field-->
	<div class="form-group">
		<div class="col"><label for="txtFirstName">First Name:</label></div>
		<div class="col">
			<input type="text" name="firstName" id="txtFirstName" onkeyup="lettersOnly(this)" maxlength="100" 
			onchange="formatName(this);" class="form-control" />
		</div>
	</div>
<!--	
<script>alert(x)</script>
-->
	
	<!--last name field-->
	<div class="form-group">
		<div class="col"><label for="txtLastName">Last Name:</label></div>
		<div class="col">
			<input type="text" name="lastName" id="txtLastName" onkeyup="lettersOnly(this)" maxlength="100" 
			onchange="formatName(this)" class="form-control" />
		</div>
	</div>
	
	<!--email address field-->
	<div class="form-group">
		<div class="col"><label for="txtUsernameReg">Username:</label></div>
		<div class="col">
			<input type="text" name="usernameReg" id="txtUsernameReg" maxlength="30" 
			onchange="removeSpaces(this)" class="form-control" />
		</div>
	</div>
	
	
	
	<!--password field-->
	<div class="form-group">
		<div class="col"><label for="txtPasswordReg">Password:</label></div>
		<div class="col">
			<input type="password" name="passwordReg" id="txtPasswordReg" maxlength="30" 
			onchange="passwordContainsSpaces(this)" class="form-control" />
		</div>
	</div>	
	
	<!--add the forum post to database - eventually perform an ajax call-->
	<div class="form-group"><div class="col">
		<input type="button" value="Register" onclick="validateRegistration()" class="btn btn-primary" /><br />
    <b><div id="processing"></div></b> <!--output temporary message in case server is running slow-->		
	</div></div>	
</form>

<!--importing jquery and boostrap-->
<script type="text/javascript" src="/static/JQuery/popper.min.js/"></script>
<script type="text/javascript" src="/static/JQuery/jquery-3.4.1.min.js/"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js/"></script>

<script type="text/javascript" src="/static/scripts/standard_ajax_functions.js/"></script>
<script type="text/javascript" src="/static/scripts/validate_input.js/"></script>
<script type="text/javascript" src="/static/scripts/user_accounts/process_registration.js/"></script>


<script></script>

{% endblock %}
